body {
  margin: 0;
}

.wrapper {
  height: 200px;
  border: solid blue 2px;
  margin: 5rem;
}
.contentPart {
  height: 100%;
  overflow: hidden;
}
.scrollBarBox {
  height: 100%;
  border-left: solid 1px black;
}
.scrollNode {
  background-color: red;
  cursor: pointer;
  position: relative;
}
