body {
  margin: 0;
}

.wrapper {
  height: 700px;
  border: solid blue 2px;
  margin: 2rem;
}

.content {
  height: 800px;
  width: 1500px;
  background-color: aqua;
  margin: 3rem;
  border: solid red 5px;
}
